* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  width: 100%
}

main {
  max-width: 100vw;
  min-height: 80vh
}

.react-datepicker-popper {
  z-index: 100!important;
}

.dropdown-menu {
  max-height: 400px;
  overflow-y: scroll;
}

.sql-scroll{
  max-height: 75vh;
  overflow: auto
}

.sql-scroll thead th{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black;
  color:white
}