@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100%;
  width: 100%;
  
  background: radial-gradient(circle, rgb(248, 248, 248) 10%, rgb(255,255,255) 50%, rgb(248, 248, 248) 90%);
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

main *::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
	background-color: #F5F5F5;
}

main *::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #D62929;
}

main {
  max-width: 100vw;
  min-height: 70vh
}

.react-datepicker-popper {
  z-index: 100!important;
}

.dropdown-menu {
  max-height: 400px;
  overflow-y: auto;
}

.sql-scroll{
  max-height: 75vh;
  overflow: auto
}

.sql-scroll thead th{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black;
  color:white
}

.sticky-header-2 {
  position: sticky;
  top: 0;
  z-index: 2;
  background: black;
}

.sticky-header-1 {
  position: sticky;
  top: 0;
  z-index: 1;

}
.sticky-horizontal {
  position: sticky;
  left: 0;
  z-index:2;
}